.Admin {
    margin: 2em;
}

.Admin button {
    margin-right: 1em;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
    width: 50%;
    height: 50%;
    padding: 1.5em;
    border-radius: 0.5em;
    box-shadow: 0.5em 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.5);
}

.modal form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: ghostwhite;
    border-radius: 0.5em;
    padding: 1em;
}

.modal_delete {
    width: 30% !important;
    height: 30% !important;
}

@media (max-width: 768px) {
    .modal {
        width: 90%; /* Mais responsivo em dispositivos menores */
        max-width: none;
    }
}
